<h1>ユーザの新規登録</h1>

<%= form_with(model: @user, local: true) do |f|  %>
<%= render 'layouts/error_messages', model: f.object %>
  <ul>
    <li>
      <%= f.label :name, "名前" %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.label :email, "メール" %>
      <%= f.text_field :email %>
    </li>
    <li>
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password %>
    </li>
    <li>
      <%= f.label :password_confirmation, "パスワード（確認）" %>
      <%= f.password_field :password_confirmation %>
    </li>
  </ul>
  <%= f.submit "ユーザの登録" %>
<% end %>


